In [331]:
import sys
import logging
from uuid import UUID

import emission.core.get_database as edb
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as pydt
import emission.storage.timeseries.abstract_timeseries as esta
import emission.storage.timeseries.timequery as estt

logging.getLogger().setLevel(logging.DEBUG)
logging.debug(sys.path)

iphone_ids = [UUID("079e0f1a-c440-3d7c-b0e7-de160f748e35"), UUID("c76a0487-7e5a-3b17-a449-47be666b36f6"), 
              UUID("c528bcd2-a88b-3e82-be62-ef4f2396967a")]
android_ids = [UUID("e471711e-bd14-3dbe-80b6-9c7d92ecc296"), UUID("fd7b4c2e-2c8b-3bfa-94f0-d1e3ecbd5fb7"),
               UUID("86842c35-da28-32ed-a90e-2da6663c5c73")]

In [332]:
list(edb.get_timeseries_db().find({"metadata.key": "config/sensor_config", "data.battery_status": {"$exists": True}}).sort("metadata.write_ts").limit(10))

[]

In [333]:
#type: list of emission.storage.timeseries.builtin_timeseries.BuiltinTimeSeries
iphone_ts = map(lambda u: esta.TimeSeries.get_time_series(u), iphone_ids)
android_ts = map(lambda u: esta.TimeSeries.get_time_series(u), android_ids)

#time query specification
dt1 = pydt.datetime(2016, 6, 28, 0, 0) #datetime.datetime(2016, 6, 24, 22, 0)
dt2 = pydt.datetime(2016, 6, 29, 8, 0)

ts1 = int(dt1.strftime("%s"))
ts2 = int(dt2.strftime("%s"))

time_range = estt.TimeQuery("metadata.write_ts", ts1, ts2)

#BuiltinTimeSeries.get_data_df(key, time_query = None, geo_query = None, extra_query_list=None) 
#type: list of DataFrame objects (regarding state info)
iphone_state_df_list = map(lambda t:t.get_data_df("statemachine/transition", time_range), iphone_ts)
android_state_df_list = map(lambda t:t.get_data_df("statemachine/transition", time_range), android_ts)

iphone_battery_df_list = map(lambda t:t.get_data_df("background/battery", time_range), iphone_ts)
android_battery_df_list = map(lambda t:t.get_data_df("background/battery", time_range), android_ts)

In [334]:
_iphone_config_df_list = map(lambda t:t.get_data_df("config/sensor_config", time_range), iphone_ts)
_android_config_df_list = map(lambda t:t.get_data_df("config/sensor_config", time_range), android_ts)

ts_to_dt = lambda t: pydt.datetime.fromtimestamp(t)

iphone_config_df_list=[]
for i, df in enumerate(_iphone_config_df_list):
    if len(df)<>0:
        df['config_time'] = df['metadata_write_ts'].apply(ts_to_dt)
        #df['ts'] = df['metadata_write_ts']
        iphone_config_df_list.append(df)
    else:
        iphone_config_df_list.append(-1)
        print "no config log for ios" + str(i)

android_config_df_list=[]
for i, df in enumerate(_android_config_df_list):
    if len(df)<>0:
        df['config_time'] = df['metadata_write_ts'].apply(ts_to_dt)
        #df['ts'] = df['metadata_write_ts'] # <class 'pandas.core.series.Series'>
        android_config_df_list.append(df)
    else:
        android_config_df_list.append(-1)
        print "no config log for android" + str(i)

no config log for ios2
no config log for android1
no config log for android2

In [335]:
def config_changed(df):
    changed_lst = ['Null']
    temp = df.copy()
    temp = temp.drop(['_id', 'metadata_write_ts', 'local_dt', 'ts'], 1)
    #print temp
    #temp.reset_index(inplace=True)
    for i in range(1, len(temp)):
        #print(temp.iloc[i]==temp.iloc[i-1])
        if temp.iloc[i].equals(temp.iloc[i-1]):
            changed_lst.append('0')
        else:
            changed_lst.append('1')
    return changed_lst

In [345]:
iphone_config_change_df_list=[]
for index, df in enumerate(iphone_config_df_list):
    print type(df)
    
for index, df in enumerate(iphone_config_df_list):
    print type(df)
    print "done"
    if df==-1:
        #no config log found 
        iphone_config_change_df_list.append(-1)
    else:
        config_series = config_changed(df)
        df.loc[:, 'config_changed'] = pd.Series(config_series, index=df.index)
        iphone_config_change_df_list.append(df)
    
android_config_change_df_list=[]
for index, df in enumerate(android_config_df_list):
    if df==-1:
        #no config log found 
        android_config_change_df_list.append(-1)
    else:
        config_series = config_changed(df)
        df.loc[:, 'config_changed'] = pd.Series(config_series, index=df.index)
        android_config_change_df_list.append(df)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<type 'int'>
<class 'pandas.core.frame.DataFrame'>
done

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [328]:
ios1 = iphone_config_change_df_list[0]
ios1
android1 = android_config_change_df_list[0]
android1

IndexError: list index out of range

In [329]:
#checking Android data...
n = 0

a_s = android_state_df_list[n][['metadata_write_ts', 'fmt_time', 'curr_state', 'transition']]
a_s.rename(columns = {'fmt_time':'state_time'}, inplace = True)

a_b = android_battery_df_list[n][['metadata_write_ts', 'fmt_time', 'battery_level_pct', 'battery_status']]
a_b.rename(columns = {'fmt_time':'battery_time'}, inplace = True)

#a_c = android_config_change_df_list[n]

if a_c <> -1: 
    a_sc = pd.merge(a_s, a_c, on='metadata_write_ts', how='outer')
    a_sc.sort_values('metadata_write_ts', ascending=True, inplace=True)
    #ts_to_dt = lambda t: pydt.datetime.fromtimestamp(t)
    #a_sc['dt']=a_sc['metadata_write_ts'].apply(ts_to_dt)

    #print len(a_combined)
    a_sc.fillna('-')[['state_time','config_time', 'curr_state', 'transition', 'config_changed']]

    a_all = pd.merge(a_combined, a_b, on='metadata_write_ts', how='outer')
    a_all.sort_values('metadata_write_ts', ascending=True, inplace=True)
    a_all.fillna('-')[['state_time','config_time', 'battery_time','curr_state', 'transition', 'config_changed', 'battery_level_pct', 'battery_status']]

a_sb = pd.merge(a_s, a_b, on='metadata_write_ts', how='outer')
a_sb.sort_values('metadata_write_ts', ascending=True, inplace=True)
a_sb.fillna('-')[['state_time', 'battery_time','curr_state', 'transition', 'battery_level_pct', 'battery_status']]

,state_time,battery_time,curr_state,transition,battery_level_pct,battery_status
6,-,2016-06-28T00:07:29.438000-07:00,-,-,100,3
7,-,2016-06-28T00:17:29.508000-07:00,-,-,100,3
0,2016-06-28T00:27:16.846000-07:00,-,3,3,-,-
8,-,2016-06-28T00:37:31.302000-07:00,-,-,100,1
9,-,2016-06-28T00:47:31.043000-07:00,-,-,100,1
10,-,2016-06-28T00:57:31.195000-07:00,-,-,100,1
11,-,2016-06-28T01:07:30.955000-07:00,-,-,100,1
12,-,2016-06-28T01:17:30.578000-07:00,-,-,100,1
13,-,2016-06-28T01:37:30.717000-07:00,-,-,100,1
14,-,2016-06-28T02:32:13.976000-07:00,-,-,99,1
15,-,2016-06-28T04:37:22.829000-07:00,-,-,99,1
16,-,2016-06-28T04:47:31.013000-07:00,-,-,99,1
17,-,2016-06-28T08:37:09.424000-07:00,-,-,97,1
18,-,2016-06-28T11:50:29.499000-07:00,-,-,96,1
19,-,2016-06-28T14:34:40.992000-07:00,-,-,96,1
20,-,2016-06-28T20:42:14.870000-07:00,-,-,94,1
21,-,2016-06-29T02:44:26.716000-07:00,-,-,92,1
22,-,2016-06-29T02:57:30.816000-07:00,-,-,91,1
23,-,2016-06-29T08:08:14.976000-07:00,-,-,90,1
24,-,2016-06-29T08:27:30.738000-07:00,-,-,90,1
25,-,2016-06-29T08:47:31.683000-07:00,-,-,89,1
26,-,2016-06-29T09:07:31.800000-07:00,-,-,89,1
27,-,2016-06-29T09:17:31.925000-07:00,-,-,89,1
28,-,2016-06-29T10:16:52.738000-07:00,-,-,89,1
29,-,2016-06-29T12:18:40.016000-07:00,-,-,88,1
30,-,2016-06-29T15:22:38.315000-07:00,-,-,87,2
31,-,2016-06-29T15:37:30.195000-07:00,-,-,92,2
32,-,2016-06-29T15:47:29.525000-07:00,-,-,95,2
33,-,2016-06-29T15:57:30.945000-07:00,-,-,97,2
34,-,2016-06-29T16:17:29.695000-07:00,-,-,100,3
...,...,...,...,...,...,...
79,-,2016-06-29T19:26:30.570000-07:00,-,-,100,1
80,-,2016-06-29T19:27:30.737000-07:00,-,-,100,1
81,-,2016-06-29T19:29:30.838000-07:00,-,-,100,1
82,-,2016-06-29T19:30:30.801000-07:00,-,-,100,1
83,-,2016-06-29T19:32:30.501000-07:00,-,-,100,1
84,-,2016-06-29T19:33:30.667000-07:00,-,-,100,1
85,-,2016-06-29T19:34:30.931000-07:00,-,-,100,1
86,-,2016-06-29T19:36:30.514000-07:00,-,-,100,1
87,-,2016-06-29T19:38:30.583000-07:00,-,-,100,1
88,-,2016-06-29T19:40:30.092000-07:00,-,-,100,1
89,-,2016-06-29T19:42:30.882000-07:00,-,-,100,1
90,-,2016-06-29T19:43:30.729000-07:00,-,-,100,1
91,-,2016-06-29T19:45:31.371000-07:00,-,-,100,1
92,-,2016-06-29T19:46:34.450000-07:00,-,-,100,1
93,-,2016-06-29T19:47:38.581000-07:00,-,-,100,1
94,-,2016-06-29T19:48:30.880000-07:00,-,-,100,1
95,-,2016-06-29T19:50:31.860000-07:00,-,-,100,1
96,-,2016-06-29T19:52:30.731000-07:00,-,-,100,1
97,-,2016-06-29T19:54:30.851000-07:00,-,-,100,1
98,-,2016-06-29T19:56:30.971000-07:00,-,-,100,1
99,-,2016-06-29T19:58:31.078000-07:00,-,-,100,1
100,-,2016-06-29T19:59:30.933000-07:00,-,-,100,1
101,-,2016-06-29T20:01:30.624000-07:00,-,-,100,1
102,-,2016-06-29T20:03:30.839000-07:00,-,-,100,1
103,-,2016-06-29T20:05:30.858000-07:00,-,-,100,1
104,-,2016-06-29T20:07:30.672000-07:00,-,-,100,1
105,-,2016-06-29T20:09:30.355000-07:00,-,-,100,1
106,-,2016-06-29T21:03:06.464000-07:00,-,-,99,1
107,-,2016-06-29T21:04:30.042000-07:00,-,-,99,1
108,-,2016-06-29T21:05:29.961000-07:00,-,-,99,1

In [330]:
#checking iOS data...
n = 0
ios_s = iphone_state_df_list[n][['metadata_write_ts', 'fmt_time', 'curr_state', 'transition']]
ios_s.rename(columns = {'fmt_time':'state_time'}, inplace = True)

ios_b = iphone_battery_df_list[n][['metadata_write_ts', 'fmt_time', 'battery_level_pct', 'battery_status']]
ios_b.rename(columns = {'fmt_time':'battery_time'}, inplace = True)

ios_c = iphone_config_change_df_list[n]

if ios_c <> -1:
    ios_sc = pd.merge(ios_s_new, ios_c, on='metadata_write_ts', how='outer')
    ios_sc.sort_values('metadata_write_ts', ascending=True, inplace=True)
    #ts_to_dt = lambda t: pydt.datetime.fromtimestamp(t)
    #ios_sc['dt']=ios_sc['metadata_write_ts'].apply(ts_to_dt)

    #print len(ios_sc)
    #ios_sc.fillna('-')[['state_time','config_time','curr_state', 'transition', 'config_changed', 'ios_use_visit_notifications_for_detection']]

ios_s_new = ios_s[(ios_s.transition!=7) & (ios_s.transition!=16)]
ios_sb = pd.merge(ios_s_new, ios_b, on='metadata_write_ts', how='outer')
ios_sb.sort_values('metadata_write_ts', ascending=True, inplace=True)
ios_sb.fillna('-')[['state_time', 'battery_time','curr_state', 'transition', 'battery_level_pct', 'battery_status']]
ios_b

,metadata_write_ts,battery_time,battery_level_pct,battery_status
0,1.467097e+09,2016-06-28T00:00:04.321341-07:00,100.0,3
1,1.467097e+09,2016-06-28T00:00:17.327839-07:00,100.0,3
2,1.467097e+09,2016-06-28T00:00:20.005180-07:00,100.0,3
3,1.467097e+09,2016-06-28T00:00:32.598396-07:00,100.0,3
4,1.467098e+09,2016-06-28T00:10:03.418114-07:00,100.0,3
5,1.467098e+09,2016-06-28T00:10:05.921160-07:00,100.0,3
6,1.467098e+09,2016-06-28T00:20:04.512783-07:00,100.0,3
7,1.467098e+09,2016-06-28T00:20:07.297982-07:00,100.0,3
8,1.467099e+09,2016-06-28T00:25:00.882223-07:00,100.0,3
9,1.467099e+09,2016-06-28T00:25:00.967519-07:00,100.0,3
10,1.467099e+09,2016-06-28T00:30:05.260553-07:00,100.0,3
11,1.467099e+09,2016-06-28T00:30:07.843013-07:00,100.0,3
12,1.467100e+09,2016-06-28T00:40:04.736922-07:00,100.0,1
13,1.467100e+09,2016-06-28T00:40:07.936833-07:00,100.0,1
14,1.467100e+09,2016-06-28T00:50:04.994738-07:00,100.0,1
15,1.467101e+09,2016-06-28T01:00:04.112800-07:00,100.0,1
16,1.467101e+09,2016-06-28T01:00:08.735512-07:00,100.0,1
17,1.467101e+09,2016-06-28T01:00:11.650019-07:00,100.0,1
18,1.467101e+09,2016-06-28T01:00:27.151836-07:00,100.0,1
19,1.467101e+09,2016-06-28T01:10:04.557744-07:00,100.0,1
20,1.467101e+09,2016-06-28T01:10:09.127683-07:00,100.0,1
21,1.467102e+09,2016-06-28T01:20:04.671456-07:00,100.0,1
22,1.467102e+09,2016-06-28T01:20:08.080924-07:00,100.0,1
23,1.467103e+09,2016-06-28T01:30:04.829853-07:00,100.0,1
24,1.467103e+09,2016-06-28T01:30:08.319311-07:00,100.0,1
25,1.467103e+09,2016-06-28T01:40:05.362574-07:00,100.0,1
26,1.467103e+09,2016-06-28T01:40:09.140418-07:00,100.0,1
27,1.467104e+09,2016-06-28T01:50:04.166384-07:00,100.0,1
28,1.467104e+09,2016-06-28T02:00:04.663350-07:00,100.0,1
29,1.467104e+09,2016-06-28T02:00:09.373762-07:00,100.0,1
...,...,...,...,...
260,1.467174e+09,2016-06-28T21:20:08.750259-07:00,97.0,1
261,1.467175e+09,2016-06-28T21:30:03.864967-07:00,97.0,1
262,1.467175e+09,2016-06-28T21:30:06.569074-07:00,97.0,1
263,1.467175e+09,2016-06-28T21:40:04.100693-07:00,97.0,1
264,1.467175e+09,2016-06-28T21:40:07.159836-07:00,97.0,1
265,1.467176e+09,2016-06-28T21:50:04.755028-07:00,97.0,1
266,1.467176e+09,2016-06-28T22:00:03.280149-07:00,97.0,1
267,1.467176e+09,2016-06-28T22:00:08.619086-07:00,96.0,1
268,1.467176e+09,2016-06-28T22:00:20.625494-07:00,96.0,1
269,1.467176e+09,2016-06-28T22:00:35.539751-07:00,96.0,1
270,1.467177e+09,2016-06-28T22:10:04.130073-07:00,96.0,1
271,1.467177e+09,2016-06-28T22:10:07.906330-07:00,96.0,1
272,1.467178e+09,2016-06-28T22:20:04.818256-07:00,96.0,1
273,1.467178e+09,2016-06-28T22:20:10.960493-07:00,96.0,1
274,1.467178e+09,2016-06-28T22:30:05.050775-07:00,96.0,1
275,1.467178e+09,2016-06-28T22:30:08.811576-07:00,96.0,1
276,1.467179e+09,2016-06-28T22:50:03.881073-07:00,96.0,1
277,1.467179e+09,2016-06-28T22:50:07.805980-07:00,96.0,1
278,1.467180e+09,2016-06-28T23:00:05.751295-07:00,96.0,1
279,1.467180e+09,2016-06-28T23:00:12.265959-07:00,96.0,1
280,1.467181e+09,2016-06-28T23:10:07.450599-07:00,96.0,1
281,1.467181e+09,2016-06-28T23:10:12.431429-07:00,96.0,1
282,1.467181e+09,2016-06-28T23:20:05.918845-07:00,96.0,1
283,1.467181e+09,2016-06-28T23:20:10.567866-07:00,96.0,1
284,1.467182e+09,2016-06-28T23:30:04.839228-07:00,96.0,1
285,1.467182e+09,2016-06-28T23:30:09.185848-07:00,96.0,1
286,1.467182e+09,2016-06-28T23:40:04.835297-07:00,96.0,1
287,1.467182e+09,2016-06-28T23:40:10.316244-07:00,96.0,1
288,1.467183e+09,2016-06-28T23:50:05.456766-07:00,96.0,1
289,1.467183e+09,2016-06-28T23:50:09.162055-07:00,96.0,1